
<a name="fixsize"> </a>
<details class="tutorial-entry" ontoggle="showSingleTut(event, this);">

<summary class="tutorial-title">
	Fix track byte counts
</summary>

MIDI track chunk byte counts are often incorrect in standard
MIDI files.  This example program shows how to correct the byte
counts by reading the MIDI file and then writing it out again,
without doing anything else.

The MidiFile class ignores the byte-count value for a track chunk
when reading a MIDI file, so incorret byte counts do not affect
parsing of the file.  When writing a file out again, the byte count
for each track is calculated and automatically corrected.

The MidiFile class automatically expands running-status messages,
so the size of the MIDI file may increase if running-status was
originally used.

``` cpp
{% include tutorial/code/fixsize.cpp %}
```

Library functions used in this example:

<ul class="function-list">
<li class="docslot"> MidiFile::read </li>
<li class="docslot"> MidiFile::write </li>
</ul>

</details>



