
<script>
// vim: ts=3

function showSingleTut(event, element) {
	var tutorials = document.querySelectorAll("details.tutorial-entry");
}
</script>


<style>

td.code {
   text-align:left;
}

td.linenos > div > pre,
td.linenos > div,
td.code,
td.linenos {
   border: 0px;
}

table.highlighttable {
   border: 0 !important;
}

div.linenodiv,
div.linenodiv > pre,
div.linenodiv > pre > code {
   background:#666;
}

summary.tutorial-title {
	font-size: 22px;
	font-weight: bold;
	font-color: #555555;
}

ul.function-list li {
	list-style: none !important;
}

</style>

