
<script>
// vim: ts=3 hlsearch

document.addEventListener("DOMContentLoaded", function(event) {
	tutoriallist = [  // BEGIN_TUTORIAL_LIST
	["fixsize", "Fix MIDI track byte counts"],
	["offswitch", "Changing note-off message styles"],
	["noteattacks", "Print a list of note attacks in a MIDI file"],
	["reverse", "Reverse the order of notes in a MIDI file."]
	];                // END_TUTORIAL_LIST

	var tlist = document.getElementById('tutorial-list');
	if (!tlist) {
		return;
	}
	tlist.textContent = '';
	var i;
	for (i=0; i<tutoriallist.length; i++) {
		var li = document.createElement("LI");
		tlist.appendChild(li);
		var newcontent = "";
		newcontent += '<a href="tutorial/#' + tutoriallist[i][0] + '">';
		newcontent += tutoriallist[i][0];
		newcontent += '</a> &mdash;';
		newcontent += '<span id="' + tutoriallist[i][0] + '-description">';
      newcontent += tutoriallist[i][1] + '</span>';
		li.innerHTML = newcontent;
	}
});

</script>

<style>
ul#tutorial-list {
   list-style-type: none;
	margin-left: 30px;
}
ul#tutorial-list li {
	list-style: none;
}
</style>


<ul id="tutorial-list"> </ul>

