
<span style="margin-top:60px;">&nbsp;</span>

Keyboard shortcuts for this page:
<ul>
<li><span onclick="(function(e){openAllDocumentation();e.preventDefault()})(event)"> <span class="keyboard-char">ctrl</span>+<span class="keyboard-char">+/=</span></span> to open all function documentation entries.</li>
<li><span onclick="(function(e){closeAllDocumentation();e.preventDefault()})(event)"><span class="keyboard-char">ctrl</span>+<span class="keyboard-char">&ndash;</span></span> to close all documentation.</li>
<!-- <li><span onclick="(function(e){toggleAllExamplesDisplay()})(event)"><span class="keyboard-char">ctrl</span>+<span class="keyboard-char">e</span></span>to toggle display of all code examples.</li> -->
<li><span onclick="(function(e){exclusiveSlotShow(e,this)})(event)"><span class="keyboard-char">shft</span>+<span class="keyboard-char">click</span></span> will open documentation for a single method and close all other entries.</li>
</ul>


