getTrackState
joinTracks
absoluteTime			
linearTickInterpolationAtSecond
addEvent				
makeVLV
addMetaEvent			
mergeTracks
addPitchBend			
printHex
addTrack				
read
allocateEvents			
readByte
buildTimeMap			
readLittleEndian2Bytes
deleteTrack			
readLittleEndian4Bytes
deltaTime			
secondsearch
doTimeInSecondsAnalysis		
setFilename
erase				
setMilliseconds
extractMidiData			
setTicksPerQuarterNote
extractVlvTime			
sortTrack
getAbsoluteTickTime		
sortTracks
getEvent				
splitTracks
getFilename			
ticksearch
getNumEvents			
timeState
getTicksPerQuarterNote		
unpackVLV
getTimeInSeconds			
write
getTrack				
writeVLValue
getTrackCount
