
<div class="docslot" id="MidiEvent::getDurationInSeconds"><span class="docslot-short-title" style="padding-left:19px;">absoluteTime</span><span class="short-desc"> &mdash; Copy the contents of another MidiEvent or MidiMessage.</span></div>
<div class="docslot" id="MidiEvent::getLinkedEvent"><span class="docslot-short-title" style="padding-left:19px;">absoluteTime</span><span class="short-desc"> &mdash; Copy the contents of another MidiEvent or MidiMessage.</span></div>
<div class="docslot" id="MidiEvent::getTickDuration"><span class="docslot-short-title" style="padding-left:19px;">absoluteTime</span><span class="short-desc"> &mdash; Copy the contents of another MidiEvent or MidiMessage.</span></div>
<div class="docslot" id="MidiEvent::isLinked"><span class="docslot-short-title" style="padding-left:19px;">absoluteTime</span><span class="short-desc"> &mdash; Copy the contents of another MidiEvent or MidiMessage.</span></div>
<div class="docslot" id="MidiEvent::linkEvent"><span class="docslot-short-title" style="padding-left:19px;">absoluteTime</span><span class="short-desc"> &mdash; Copy the contents of another MidiEvent or MidiMessage.</span></div>
<div class="docslot" id="MidiEvent::operatorEQUALS"><span class="docslot-short-title" style="padding-left:19px;">absoluteTime</span><span class="short-desc"> &mdash; Copy the contents of another MidiEvent or MidiMessage.</span></div>
<div class="docslot" id="MidiEvent::unlinkEvent"><span class="docslot-short-title" style="padding-left:19px;">absoluteTime</span><span class="short-desc"> &mdash; Copy the contents of another MidiEvent or MidiMessage.</span></div>


