<!-- vim: set ts=3 nowrap : -->
<footer width=100% class="site-footer">
<table cellpadding="0" cellspacing="0" style="width:100%;">
<tr style="valign="center">

<td style="vertical-align: middle; padding-left:40px; text-indent:-40px;">
	{% include group.html %}
</td>

<td style="min-width:300px">
	<ul class="github">
		<li><a href="https://github.com/craigsapp/scorelib/zipball/master">Download <strong>ZIP File</strong></a></li>
		<li><a href="https://github.com/craigsapp/scorelib/tarball/master">Download <strong>TAR Ball</strong></a></li>
		<li><a target="new" href="https://github.com/craigsapp/scorelib">View On <strong>GitHub</strong></a></li>
	</ul>
</td>

</tr>
</table>
</footer>
