<header>
	<h1>
		{% if page.url == "/" %}
			Midifile
		{% else %}
			<a style="color:#000000;" href="/">Midifile</a>
		{% endif %}
	</h1>
	<h2>
		{% if page.title %}
			{{ page.title }}
		{% else %}
			{{ site.title }}
		{% endif %}
	</h2>
</header>

<section id="downloads" class="clearfix">
	<a href="https://github.com/craigsapp/midifile/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
	<a href="https://github.com/craigsapp/midifile/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
	<a href="https://github.com/craigsapp/midifile" id="view-on-github" class="button"><span>View on GitHub</span></a>
</section>

<hr>

